<%- include ('./layout/header.ejs') %>
<%- include('./layout/sidebar.ejs') %>    

<div class="container-opacity"></div>
<div class="principal-content">
    <div class="box-warning">
        <h4 class="message">Are you certain about it?</h4>
        <div class="buttons-warning">
            <buttons class="warning-yes">Yes</buttons>
            <buttons class="warning-no">No</buttons>
        </div>
    </div>
    <form action="/student/<%- id %>" method="post">
        <div class="student">
            <div class="buttons-container">
                <button class="buttons icon-edit button-edit">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                    Edit
                </button>
                <button class="buttons icon-delete button-delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Delete
                </button>
            </div>
            <div class="personal-information">
                <span class="img-profile"></span>
                <div class="personal-container">

                    <input class="input-edit name" type="text" name="name" value="<%= `${name}`%>">
                    <div class="labels">
                        <label for="birthdate">Birthdate:</label>
                        <input class="input-edit birthdate" type="date" name="birthdate"  value="<%= birthdate %>">
                    </div>
                    <div class="labels">
                        <label for="email">Email:</label>
                        <input class="input-edit email" type="text" name="email"  value="<%= email %>">
                    </div>
                    <div class="labels">
                        <label for="telephone">Telephone:</label>
                        <input class="input-edit phone" type="text" name="telephone"  value="<%= telephone %>">
                    </div>
                </div>
                <div class="personal-container">
                    <span class="age">
                        <h4 class="age"> <%= age %> years old</h4>
                    </span>
                    <div class="labels genre">
                        <label for="genre">Genre</label>
                        <select class="genre-input" name="genre" disabled>  
                            <% if (genre === "male") { %>
                                <option value="male" selected>Male</option> 
                                <option value="female" >Female</option>  
                            <% } else { %>
                                <option value="male">Male</option> 
                                <option value="female" selected>Female</option>  
                            <% } %>
                            
                        </select>
                    </div>
                    <div class="labels status">
                        <label for="status">Status</label>
                        <select name="status" class="status-input" disabled>
                            <% if (studentStatus == 0) { %>
                                <option value="active">Active</option>
                                <option value="inactive" selected>Inactive</option>
                                <option value="interested">Interested</option>
                            <% } else if (studentStatus == 1) { %>
                                <option value="active" selected>Active</option>
                                <option value="inactive">Inactive</option>
                                <option value="interested">Interested</option>
                            <% } else if (studentStatus == 2) { %>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                                <option value="interested" selected>Interested</option>
                            <% } %>
                            
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="address">
                <h3 class="address-title title">Address</h3>
                <div class="address-container">
                    <div class="labels">
                        <label for="city">City:</label>
                        <input class="input-edit city" type="text" name="city" value="<%= city %>">
                    </div>
                    <div class="labels">
                        <label for="state">State:</label>
                        <input class="input-edit state" type="text" name="state"  value="<%= state %>">
                    </div>
                    <div class="labels">
                        <label for="street">Street:</label>
                        <input class="input-edit street" type="text" name="street"  value="<%= street %>">
                    </div>
                    <div class="labels">
                        <label for="number">Number:</label>
                        <input class="input-edit number" type="text" name="number"  value="<%= number %>">
                    </div>
                </div>         
            </div>
            <div class="issues">
                <h3 class="issues-title title">Issues</h3>
                
                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="spine">Spine issues</label>
                        <div class="container-select">
                            <% if (spineIssues == "no") { %>
                                <label for="spineYes">Yes</label>
                                <input type="checkbox" value="yes" name="spine" class="spine" disabled >
                                <label for="spineNo">No</label>
                                <input type="checkbox" value="no" name="spine" class="spine" disabled checked>
                            <% } else { %>
                                <label for="spineYes">Yes</label>
                                <input type="checkbox" value="yes" name="spine" class="spine" disabled checked>
                                <label for="spineNo">No</label>
                                <input type="checkbox" value="no" name="spine" class="spine" disabled >
                            <% } %>
                        </div>
                    </div>
                    <% if (spineIssues == "no") { %>
                        <textarea name="spineDescription" class="spine" disabled></textarea>
                    <% } else { %>
                        <textarea name="spineDescription" class="spine" disabled><%= spineDescription %></textarea>
                    <% } %>
                </div>

                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="surgery">Surgery</label>

                        <div class="container-select">
                            <% if (surgery == "no") { %>
                                <label for="surgeryYes">Yes</label>
                                <input type="checkbox" value="yes" name="surgery" class="surgery" disabled>
                                <label for="surgeryNo">No</label>
                                <input type="checkbox" value="no" name="surgery" disabled class="surgery" checked>
                            <% } else { %>
                                <label for="surgeryYes">Yes</label>
                                <input type="checkbox" value="yes" name="surgery" class="surgery" disabled checked>
                                <label for="surgeryNo">No</label>
                                <input type="checkbox" value="no" name="surgery" disabled class="surgery">
                            <% } %>              
                        </div>
                    </div>
                    <% if (surgery == "no") { %>
                        <textarea name="surgeryDescription" class="surgery" disabled></textarea>
                    <% } else { %>
                        <textarea name="surgeryDescription" class="surgery" disabled><%= surgeryDescription %></textarea>
                    <% } %>
                </div>

                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="pain">Pain</label>

                        <div class="container-select">
                            <% if (pain == "no") { %>
                                <label for="painYes">Yes</label>
                                <input type="checkbox" value="yes" class="pain" name="pain" disabled>
                                <label for="painNo">No</label>
                                <input type="checkbox" value="no" name="pain" disabled class="pain" checked>
                            <% } else { %>
                                <label for="painYes">Yes</label>
                                <input type="checkbox" value="yes" class="pain" name="pain" disabled checked>
                                <label for="painNo">No</label>
                                <input type="checkbox" value="no" name="pain" disabled class="pain">
                            <% } %>
                            
                        </div>
                    </div>
                    <% if (pain == "no") { %>
                        <textarea name="painDescription" class="pain" disabled></textarea>
                    <% } else { %>
                        <textarea name="painDescription" class="pain" disabled><%= painDescription %></textarea>
                    <% } %>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <label for="hypertension">Hypertension</label>
                        <div class="container-select">
                            <% if ( hypertension == "no") { %>
                                <label for="hyperYes">Yes</label>
                                <input type="checkbox" value="yes" 
                                name="hypertension" class="hypertension" disabled>
                                <label for="hyperNo">No</label>
                                <input type="checkbox" value="no" name="hypertension" class="hypertension" disabled checked>
                            <% } else { %>
                                <label for="hyperYes">Yes</label>
                                <input type="checkbox" value="yes" 
                                name="hypertension" class="hypertension" disabled checked>
                                <label for="hyperNo">No</label>
                                <input type="checkbox" value="no" name="hypertension" class="hypertension" disabled>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="heartDisease">Heart Disease</label>

                        <div class="container-select">
                            <% if ( heartDisease == "no") { %>
                                <label for="heartYes">Yes</label>
                                <input type="checkbox" value="yes" class="heartDisease" name="heartDisease" disabled >
                                <label for="heartNo">No</label>
                                <input type="checkbox" value="no" name="heartDisease" disabled class="heartDisease" checked>
                            <% } else { %>
                                <label for="heartYes">Yes</label>
                                <input type="checkbox" value="yes" class="heartDisease" name="heartDisease" disabled checked>
                                <label for="heartNo">No</label>
                                <input type="checkbox" value="no" name="heartDisease" disabled class="heartDisease">
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="hearingIssues">Hearing Issues</label>

                        <div class="container-select">
                            <% if ( hearingIssues == "no") { %>
                                <label for="hearingYes">Yes</label>
                                <input type="checkbox" value="yes" class="hearingIssues" name="hearingIssues" disabled>
                                <label for="hearingNo">No</label>
                                <input type="checkbox" value="no" name="hearingIssues" disabled class="hearingIssues" checked>
                            <% } else { %>
                                <label for="hearingYes">Yes</label>
                                <input type="checkbox" value="yes" class="hearingIssues" name="hearingIssues" disabled checked>
                                <label for="hearingNo">No</label>
                                <input type="checkbox" value="no" name="hearingIssues" disabled class="hearingIssues">
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="labyrinthitis">Labyrinthitis</label>

                        <div class="container-select">
                            <% if (labyrinthitis == "no") { %>
                                <label for="labyYes">Yes</label>
                                <input type="checkbox" value="yes" class="labyrinthitis" name="labyrinthitis" disabled>
                                <label for="labyNo">No</label>
                                <input type="checkbox" value="no" name="labyrinthitis" disabled class="labyrinthitis" checked>
                            <% } else { %>
                                <label for="labyYes">Yes</label>
                                <input type="checkbox" value="yes" class="labyrinthitis" name="labyrinthitis" disabled checked>
                                <label for="labyNo">No</label>
                                <input type="checkbox" value="no" name="labyrinthitis" disabled class="labyrinthitis">
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="others">
                <h3 class="others-title title">Others</h3>  
                <div class="others-container check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="alreadyPracticed">Already ever practiced Yoga</label>

                        <div class="container-select">
                            <% if (alreadyPracticed == "no") { %>
                                <label for="practicedYes">Yes</label>
                                <input type="checkbox" value="yes" class="alreadyPracticed" name="alreadyPracticed"  disabled>
                                <label for="practicedNo">No</label>
                                <input type="checkbox" value="no" name="alreadyPracticed"  disabled class="alreadyPracticed" checked>
                            <% } else { %>
                                <label for="practicedYes">Yes</label>
                                <input type="checkbox" value="yes" class="alreadyPracticed" name="alreadyPracticed"  disabled checked>
                                <label for="practicedNo">No</label>
                                <input type="checkbox" value="no" name="alreadyPracticed"  disabled class="alreadyPracticed">
                            <% } %>
                            
                        </div>
                    </div>
                </div>

                <div class="others-container has-check check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="anyExercise">Practice any exercise</label>

                        <div class="container-select">
                            <% if (practiceAnyExercise == "no") { %>
                                <label for="anyExerYes">Yes</label>
                                <input type="checkbox" value="yes" class="anyExercise" name="practiceAnyExercise" disabled >
                                <label for="anyExerNo">No</label>
                                <input type="checkbox" value="no" name="practiceAnyExercise" disabled class="anyExercise" checked>
                            <% } else { %>
                                <label for="anyExerYes">Yes</label>
                                <input type="checkbox" value="yes" class="anyExercise" name="practiceAnyExercise" disabled checked>
                                <label for="anyExerNo">No</label>
                                <input type="checkbox" value="no" name="practiceAnyExercise" disabled class="anyExercise">
                            <% } %>
                            
                        </div>
                    </div>
                    
                    <% if (practiceAnyExercise == "no") { %>
                        <textarea name="exerciseDescription" disabled class="anyExercise"></textarea>
                    <% } else { %>
                        <textarea name="exerciseDescription" disabled class="anyExercise"><%= exerciseDescription %></textarea>
                    <% } %>
                </div>

                <div class="others-container has-check check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="obs">Observation</label>

                        <div class="container-select">
                            <% if (observation == "no") { %>
                                <label for="obsYes">Yes</label>
                                <input type="checkbox" value="yes" class="observation" name="observation"  disabled>
                                <label for="obsNo">No</label>
                                <input type="checkbox" value="no" name="observation" disabled class="observation" checked>
                            <% } else { %>
                                <label for="obsYes">Yes</label>
                                <input type="checkbox" value="yes" class="observation" name="observation"  disabled checked>
                                <label for="obsNo">No</label>
                                <input type="checkbox" value="no" name="observation" disabled class="observation">
                            <% } %>
                            
                        </div>
                    </div>
                    
                    <% if (observation == "no") { %>
                        <textarea name="observationDescription" disabled class="observation"></textarea>
                    <% } else { %>
                        <textarea name="observationDescription" disabled class="observation"><%= observationDescription %></textarea>
                    <% } %>
                </div>  
            </div>

            <div class="document-options">
                <a href="" class="document-down">document.pdf ↓</a>
                <a href="" class="document-up">Upload new file ↑</a>
            </div>   

            <div class="buttons-forms">
                <button class="button-save button--disable" disabled type="submit">Save</button>
                <button class="button-cancel button--disable" disabled>Cancel</button>
            </div>
            
        </div>
    </form>
</div>
  

<script src="/script/studentRead.js"></script>
<%- include ('./layout/footer.ejs')-%>